/* http://www.colourlovers.com/palette/496170/All_in_All */
/*FEF9F0
AEE8FB
00BCD1
B0F8FF
76D3DE*/

#header {
    background-color: #00BCD1;
    background: -moz-linear-gradient(top, #76D3DE, #B0F8FF);
}

#menu {
    background-color: #76D3DE;
}

#main {
    background-color: #FEF9F0;
}

#header ul li a,
#menu .box ul li a {
    color: #000000;
}