html, body, ul, h1 {
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
}

.clean {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

/*Header properties*/
#header {
    position: fixed;
    width: 100%;
    height: 45px;
    left: 0px;
    right: 0px;
    z-index: 10;
    background-color: #FFFFFF;
}

#header ul {
    list-style-type: none;
}

#header ul li {
    float: left;
    padding: 10px 20px;
}

#header ul li a {
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    font-size: 18px;
    color: #B0B0B0;
}

#header ul li a:hover {}

#wrapper {
    max-width: 960px;
    margin: 0px auto;
    padding-top: 60px;
}

#menu {
    float: right;
    min-width: 260px;
}

#menu .box {
    margin: 5px;
    padding: 10px;
    border-left: 1px dashed #b0b0b0;
    border-right: 1px dashed #b0b0b0;
}

#menu .box ul {
    list-style-type: none;
}

#menu .box ul li {
    padding: 5px;
}

#menu .box ul li a {
    color: #b0b0b0;
    font-size: 16px;
}

#menu .box ul li a:hover {}

#main {
    float: left;
    max-width: 650px;
    padding-right: 20px;
}

#main h1 {
    color: #B0B0B0;
    font-size: 32px;
    margin: 5px 10px 20px 10px;
}

#main h2 {
    color: #A0A0A0;
    font-size: 26px;
    margin: 30px 10px 5px 10px;
}

#main p {
    font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
    font-size: 16px;
    text-align: justify;
    margin: 10px 10px 20px 10px;
    line-height: 1.8em;
}

#main ul {
    list-style-type: circle;
    list-style-position: inside;
}

#main ul li {
    margin-left: 20px;
    padding: 4px 0px;
}

form p label {
    width: 180px;
    float: left;
}

form p input[type="text"],
form p input[type="password"],
form p input[type="submit"] {
    border: 1px solid #B0B0B0;
    background-color: #FFFFFF;
    padding: 4px;
}

form p.submit {
    padding-left: 180px;
}

form p label,
form p input[type="submit"] {
    color: #B0B0B0;
}

form p label, form p input {
    font-size: 20px;
}
